body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
.first-section{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.img-area{
    width:30%;
    margin-left:100px;
}
.img-area img{
    width:100%;
}
.left{
    width:40%;
    margin-left:10%;
}
.name{
    color:orange;
}
.first-section h1{
    font-size:50px;
}
.first-section h2{
    font-size: 45px;
}
.first-section p{
    font-size:20px;
    text-align: justify;
}
.first-section a{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding:10px 40px;
    font-weight: 700;
    color:white;
    border-radius: 5px;
}
.second-section{
    display: flex;
    margin-top:150px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.second-section .img{
    width:30%;
    margin-left:100px;
}
.img img{
    width:100%;
}
.right{
    width:50%;
    margin-left:90px;
}
.right h1{
    font-size:50px;
    color:orange;
}
.right p{
    font-size: 20px;
}
.right a{
    text-decoration: none;
    background-image: linear-gradient(black,orange);
    padding:10px 40px;
    border-radius: 10px;
    color:white;
}
.web-dev-area{
    display: flex;
    margin-left:100px;
    margin-top:80px;
}
.full{
    width:40%;
    padding:20px;
    box-shadow: 10px 10px 40px grey;
    border-left:8px solid green;
}
.baby{
    width:40%;
    margin-left:50px;
    padding:20px;
    box-shadow: 10px 10px 40px grey;
    border-left:8px solid;
    border-image:linear-gradient(blue,orange);
    border-image-slice: 1;
}
.ex h1{
    font-size:50px;
    text-align: center;
}
.third-section h3{
    color:orange;
}
hr{
    border-top:5px solid green;
}
.full h1{
    font-size:50px;
}
.baby h1{
    font-size: 50px;
}
.third-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}