body{
    font-family: 'Poppins', sans-serif;
}
.first-section{
    display: flex;
    margin-top:40px;
}
.img-area{
    width:30%;
    margin-left:100px;
}
.img-area img{
    width:100%;
}
.left{
    width:40%;
    margin-left:10%;
}
.name{
    color:orange;
}
.first-section h1{
    font-size:50px;
}
.first-section h2{
    font-size: 45px;
}
.first-section p{
    font-size:20px;
    text-align: justify;
}
.first-section a{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding:10px 40px;
    font-weight: 700;
    color:white;
    border-radius: 5px;
}